






header{
    background-color: blue;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    height: 50px;
    
}
header a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
    margin: 11px 11px;
    
    
    
}

header nav{
     display: flex;
    justify-content: space-between;
}
nav .navigation{

width: 25%;
float: left;
align-items: center;

}

.d1{
    width: 100%;
    float: left;
    margin: 10px 10px;
}
.bb{
    width:33% ;
    float: left;
    
    
}

.d3{
    background-color: aqua;
}

.left{
    display: flex;
    justify-content: space-between;
   
}
.d3{
    width: 100%;
    float: left;
    margin: 10px 10px;
}
.left{
    width: 20%;
    float: left;
}

.right{
    width: 80%;
    float: right;
}

.d10{
    width: 100%;
    float: left;
}

.d11{
    width: 50%;
    float: left;
}


.d12{
    float: left;
    width: 35%;
}

.d13{
    float: right;
    width: 65%;
}

.d14{
    width: 50%;
    float: right;
}


.a1{
    width: 100%;
    float: left;
}


.a2{
    width: 70%;
    float: left;;
}

.a3{
width: 30%;
float: right;

}


.c1{
    width: 100%;
    float: left;
}

.c2{
    width: 33%;
    float: left;
}

.b1{
    margin: 50px 50px;
}

input{
    width: 500px;
    height: 19px;
    align-items: center;
    border-radius: 10px;
}

fieldset p{
    list-style: cen;
}