@import url('https://fonts.cdnfonts.com/css/akira-expanded');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akira Expanded', sans-serif;
                                                
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372F0;
    padding: 0 10px;
}
.wrapper{
    max-width: 1000px;
    overflow-x: hidden;
    background: #fff;
    border-radius: 13px;
    padding: 35px;
    position: relative;
}
.wrapper .icon{
position: absolute;
top: 0;
height: 100%;
width: 120px;
display: flex;
align-items: center;
}
.icon:first-child{
    left: 0;
    background: linear-gradient(90deg,#fff 70%,transparent);
}
.icon:last-child{
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg,#fff 70%,transparent);
}
.icon i {
    width: 55px;
    height: 55px ;
    background: #d8d5f2;
    text-align: center;
    line-height: 55px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}
.icon i:hover{
    background: #efedfb;
}
.icon:first-child i {
    margin-left: 15px;
}
.icon:last-child i {
    margin-right: 15px;
}

.wrapper .tabs-box{
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.tabs-box .tab{
    cursor: pointer;
    font-size: 1rem;
    background: #f5f4fd;
    white-space: nowrap;
    padding: 13px 20px;
    border-radius: 30px;
    border: 1px solid #d8d5f2;
}
.tabs-box.dragging{
    scroll-behavior: auto;
    cursor: grab;
}
.tabs-box.dragging .tab{
    user-select: none;
    pointer-events: none;
}
.tabs-box .tab.active{
    color: white;
    background: #5372F0;
    border-color: transparent;
}